/*ESTILO GERAL*/

*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    scroll-behavior: smooth;
}

/*VARIAVEIS DE CORES*/

:root{
 --AzulClaro: #477c89 ;
    --AzulEscuro:#020131;
    --footer:#00000c;
    --Background:#04080f;
    
}

body{
    background-color: var(--Background);
    height: 100%;
    zoom: 75%;
    max-zoom: 80%;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

/*Estilo cabecalho*/

header{
    z-index: 1;
    width: 100%;
    padding: 40px 4%;
    backdrop-filter: blur(15px);
    position: fixed;
    height: 2%;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
}

.interface .logo img{
    width: 65%;
}

header a{
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    margin-right: 18px;
    display: inline-block;
    padding:  0 40px;
}

header:hover{
   box-shadow: 0px -10px 10px 10px #000000;    
}

header .btn_home a{
    padding: 4px 10px;
    color:var(--AzulEscuro);
    background-color:var(--AzulClaro);
    border-radius: 10px;
    font-size: 18px;
    font-weight: 300;
}

header .btn_home a:hover{
    cursor: pointer;
    color: white;
    transition: 0.3s;
}

header a:hover{
    color: var(--AzulClaro);
    transition-duration: 0.2s;
}


/*FIM HEADER*/

/*Topo do site*/

section.topo-do-site{
    padding: 10% 5%;
    font-family: 'Poppins', sans-serif;
}

section.topo_do_site .flex{
    align-items: center;
    justify-content: center;
}

.txt_topo_site p,h2{
    padding: 35px 0px 0px 0rem;
    font-size: 25px;
    color: #ffffff;
}

.topo-do-site .nome,.backend{
    font-size: px;
    color: #477c89;
    font-family: 'Source Code Pro', monospace;
}

.backend{
    animation: escrever 4s;
}

@keyframes escrever{
    0%{
        width: 0%;
    }
    100%{
        width: 100%;
    }

}

.txt_topo_site .nome{
    font-size: 55px;
    font-family: 'Source Code Pro';
}

.txt_topo_site .barra{
    font-size: 4rem;
    animation: piscar 2s step-start infinite;
}

@keyframes piscar {
    0% { opacity: 1; }
    25% {opacity: 0;}
    50% {opacity: 1;}
    75% {opacity: 0;}
    100% { opacity: 1; }
}

.teste{
    display: block;
}

.txt_topo_site, .btns_contato{
    margin-top: 80px;
}

.img_topo_site img{
    /* margin-left: 0rem; */
    /* margin-top: -5rem; */
    /* width: 30vw; */
    /* border-radius: 5%; */
    filter: brightness(70%);
    width: auto;
    height: auto;
    padding: 0vw 0vw 0vw -2vw;
}

.img_topo_site img:hover{
    transform: scale(0.9);
    transition: 0.2s;
}

.btns_contato a{
    text-decoration: none;
}

.btns_contato a img{
    padding-left: 17px;
    width: 48px;
    background: transparent;
}

.btns_contato a img:hover{
    transform: scale(1.4);
    transition: 0.2s;
}

.btns_contato button{
    margin-top:1rem;
    /* display: flex; */
    border: none;
    border-radius: 10px;
    background-color: var(--Background);
    /* padding: 6px; */
}

.btns_contato button:hover{
    transform: scale(0.9);
    transition: 0.2s;
}

.btns_contato .img_curriculo{
    padding: 0;
    width: 67%;
    background: transparent;
    cursor: pointer;
}

.img_curriculo{
    margin-right:px;
}


.btns_contato .link_curriculo{
    text-decoration: none;
    color:var(--Background);

}

.btns_contato button p{
    font-size:25px;
}

/*ExperiÃªncia  ESTILO*/

section.experiencia{
    padding: 13rem 6%;
    color: #ffffff;
    font-family:'Poppins', sans-serif;
}

section.experiencia p{
    padding: 2%;
    font-size: 1.5rem;
}

section.experiencia h1{
    font-size: 45px;
    padding: 0vw 0vw 0vw 0;
}

section.experiencia span{
    color:var(--AzulClaro)  ;
}

.experiencia {
    padding: 0 65px ;
}
.experiencia .skill {
    display: flex;
    flex-wrap: wrap;
}
.experiencia .skill{
    display: flex;
    grid-template: 1;
    flex-wrap: wrap;

}

.experiencia img{
    display: block;
    padding: 40px 40px;
    width: 5rem;
}

section.experiencia .skill .linguagems{
    padding-top: 1%;
    padding-left: 15px;
    flex-wrap: wrap;
}

section.experiencia .barras{
    background-color: #ccc;
    display: block;
    height: 15px;
    align-items: self-start;
    width: 100%;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    transition: .5s ease-in-out;
}

.barras > span{
    height: 16px;
    background:#0551c4;
    position: absolute;
}

.html{
    width:95%;
    animation: html 3s;
}


@keyframes html{
    0%{
        width: 0%;
    }
    100%{
        width: 95%;
    }
}

.css{
    width: 95%;
    animation: css 3s;
}

@keyframes css{
    0%{
        width:0%;
    }
    100%{
        width:95%;
    }
}
.java{
    width: 70%;
    animation: java 3s;
}

@keyframes java{
    0%{
        width:0%;
    }
    100%{
        width:70%;
    }
}

.nodejs{
    width: 20%;
    animation: nodejs 3s;
}

@keyframes nodejs{
    0%{
        width:0%;
    }
    100%{
        width:20%;
    }
}

.dart{
    width: 40%;
    animation: dart 3s;
}

@keyframes dart{
    0%{
        width:0%;
    }
    100%{
        width:40%;
    }
}

.js{
    width: 5%;
    animation: js 3s;
}

@keyframes js{
    0%{
        width:0%;
    }
    100%{
        width:5%;
    }
}

.php{
    width: 15%;
    animation: php 3s;
}

@keyframes php{
    0%{
        width:0%;
    }
    100%{
        width:15%;
    }
}
.py{
    width: 60%;
    animation: py 3s;
}

#imgpy{
    /* width: 3rem; */
    /* width: 73px; */
}

@keyframes py{
    0%{
        width:0%;
    }
    100%{
        width:60%;
    }
}

.git{
    width: 80%;
    animation: git 3s;
}

@keyframes git{
    0%{
        width:0%;
    }
    100%{
        width:80%;
    }
}
.mysql{
    width: 79%;
    animation: mysql 3s;
}

@keyframes mysql{
    0%{
        width:0%;
    }
    100%{
        width:90%;
    }
}
.C{
    width: 20%;
    animation: c 3s;
}

@keyframes c{
    0%{
        width:0%;
    }
    100%{
        width:20%;
    }
}


.experiencia img:hover{
    transform: scale(1.5);
    transition: 0.2s;
}

.experiencia h3{
    font-family: 'Poppins';
    font-size: 1.2rem;
    padding-top: 5%;
}

/*Projetos ESTILO*/

section.Projetos{
    font-family:'Poppins', sans-serif;
    font-size: 30px;
    padding:  8%;
    color: #ffffff;
    scroll-snap-align: start;
    overflow: hidden;
}

section.Projetos .flex{
    /* padding: 3rem; */
}



section.Projetos .flex .projetos{
    /* padding-right: 10px; */
    width: 160px;
    padding: 35px 50px 35px 50px;
    border-radius:20px;
    box-shadow: 0 0 8px var(--AzulClaro);
    text-align: center;
    margin: 5%;
    border: 1px solid #00000036;
    background-color: rgb(0 0 0 / 32%);
    height: 70%;
}

section.Projetos .flex a{
    margin-left:60px;
}

section.Projetos .flex .projetos:hover{
    transform: scale(1.2);
    transition: 0.2s;
    p{
        color: transparent;
    }

    /* img{
       background:transparent;
    } */
}

#projeto1:hover{
    background-image: url('./imagens/ImagemGeradorDeSenhas.png');
}

#projeto2:hover{
    background-image: url('./imagens/APIcrudImagens.png');
}

#projeto3:hover{
    background-image: url('./imagens/BancoJava.png');
}
#projeto4:hover{
    background-image: url('./imagens/Imagem\ do\ WhatsApp\ de\ 2024-08-24\ à\(s\)\ 23.12.57_7f4f4290.jpg');
}



.Projetos .carrocel a{
    text-decoration: none;
    font-size: 20px;
    color: var(--AzulClaro);
}

.Projetos h2 {
    padding: 3vw 0px 0px 30rem;
}

.Projetos .projetos img {
    padding-top: 20%;
    width: 80px;
}

.Projetos .ButtonGithub {
    color: var(--AzulClaro);
    font-size: 1.4rem;
    text-decoration: none;
    /* color:#477c89; */
    width: 50px;
    text-decoration: none;
    border-bottom: none;
    padding: 0px 0px 0px 30rem;
    /* padding-left: 100px; */
    /* padding-right: 100px; */
}


.Projetos .ButtonGithub:hover{
    font-size: 2.1rem;
    transition: 0.2s;
}

.button{
    /* width: 40%;
    height: 75px; */
    background-color: var(--AzulClaro);
    border-radius: 10px;
    border-bottom: none;
    border: none;
    padding-left: 100px;
    padding-right: 100px;
    cursor: pointer;
}

.button:hover{
    transform: scale(0.9);
    transition: 0.2s;
}

.Projetos .Github{
    width: 6%;
    display: flow;
}

.Projetos .Github:hover{
    transform: scale(0.9);
    transition: 0.2s;
}

section.Projetos .flex .carrocel{
    padding: 4% 0% 0% 0%;
    display:flex;
    transition: transform 0.3s ease-in-out;
}

section.Projetos .flex .carrocel::-webkit-scrollbar{
    background: none;
    height: 15px;
}

section.Projetos .flex .carrocel::-webkit-scrollbar-thumb{
    background-color: var(--AzulClaro);
    border-radius: 10px;
}

/*Objetivo estilo*/

.interface_objetivo{padding: 10rem 0px 0px 0px;width: auto;/* display: flex; */height: auto;}

section.objetivo h2{
 
color: #ffffff;
 
/* justify-content: end; */
 
font-size: 50px;
 
font-family: 'Poppins', sans-serif;
 
text-align: start;
 
/* padding-top: 15%; */
 
/* padding-right: 17%; */
 
padding: 0vw 0vw 0vw 60vw;
}

section.objetivo p{
    display: block;
    color: #ffffff;
    font-size: 1.4rem;
    font-family: 'Poppins';
    /* text-align: left; */
    padding: 1vw 22vw 0% 60.2vw;
}

section.objetivo img {
    /* padding: 0vw 0vw 0vw 0vw; */
    /* display: none; */
    /* display: block; */
    /* width: 40vw; */
    position: relative;
    left: 21%;
    /* margin-top: 10%; */
    border-radius: 6%;
    max-width: 100%;
    height: 18vw;
    bottom: 16rem;
}

section.objetivo img:hover{
    transform: scale(0.9);
    transition: 0.2s;
}

section.objetivo span{
    color:var(--AzulClaro);
}


/*TCC estilo*/

.TCC {
    margin-top: 12%;
    display: flex;
    padding: 10% 5%;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
}


section.TCC h2{
    font-size: 2rem;
}

section.TCC .projeto{
    margin-bottom: 6px;
}

section.TCC .organizaÃ§ao,.minhaparte,.projeto,.resultado{
   padding: 25px;
   margin:1rem;
   border-radius:20px;
   box-shadow: 0 0 8px var(--AzulClaro);
   font-size: 1.2rem;
}

section.TCC .minhaparte {
    padding: 42px 25px 26px 25px;
    margin-top: 2.6rem;
}

section.TCC .organizaÃ§ao:hover,.minhaparte:hover,.projeto:hover,.resultado:hover{
    transform: scale(1.05);
    /* box-shadow: 0 0  8px#477c89; */
    transition: 0.2s;
}

section.TCC .resultado{
    margin-top: 35px;
}

section.TCC .resultado a{
    text-decoration: none;
    color:#477c89 ;
}

/*FOOTER*/

footer{
    color:white;
    background-color:var(--footer);
    height: 10vw;
    text-align: center;
    align-items: center;
    align-content: center;
}

    @media screen and (min-width:100px){

        section.Projetos .flex .projetos:hover{
            p{
                color: transparent;
            }
    
            img{
                display: none;
            }
        }
    }

    @media screen and (max-width: 1020px) {
   
    /*Header*/
    header{
        width: 92%;
        margin-top: -1px;
    }

    .menu a{
        display: none;
    }

    /*Topo do site*/

    .img_topo_site img{
        padding: 0vw 0vw 0vw 0vw;
        width: 80vw;
    }
    .flex{
        flex-direction: column-reverse;
    }

    .btns_contato{
        margin-top: 2rem;
    }

    .topo-do-site .backend{
        font-size: 1rem;
    }

    .txt_topo_site .nome{
        font-size: 2.6rem;
    }

    .txt_topo_site p,h2{
        font-size: 1rem;
    }

    section.topo-do-site{
        padding: 19% 5%;
    }

    .btns_contato a img{
        /* padding-top: 0px; */
        padding-left: 25px;
        width: 2.3rem;
    }

    .btns_contato button{
        margin-left:1.4rem;
    }

    .topo_do_site .barra{
        font-size:1rem;
    }

    /*ESTILO experiÃªncia */


    section.experiencia p{
        padding: 9vw 0vw 0vw 0vw;
        font-size: 1rem;
    }

    .experiencia .flex{
        display:flow-root;
        padding: 70px 9.6rem;
    }
    .experiencia .skill {
        justify-content: space-around;
    }

    .experiencia .flex .linguagems img{
       
    }
    .experiencia .flex img{
        width:6rem ;
        padding-top:2rem
    }

    section.experiencia h1{
    font-size: 1.5rem;
    padding: 34vw 0vw 0vw 0vw;
    }

    section.experiencia .barras{
        height: 2vw;
    }
   
    /*ESTILO projetos*/

    section.Projetos .flex .carrocel{
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        padding: 40px;
        display:flex;
        transition: transform 0.3s ease-in-out;
    }

    section.Projetos .flex .projetos{
        margin: 15px;
    }

    section.Projetos .flex .projetos:hover{
        img{
            background:transparent;
         }
    }

    .Projetos a .projetos img {
        width: 50px;
    }

    .Projetos h1{
        padding: 24vw 0vw 0vw 0vw;
        font-size: 1.5rem;
    }

    .Projetos h2,p{
        font-size: 1rem;
        padding: 3vw 0vw 0vw 0vw;
    }

    .Projetos .flex{
        display: block;
    }

    .Projetos .projetos{
        margin-left: 20%;
        /* width: 47%; */
        padding-bottom: 4rem;
        /* margin-bottom: 5rem; */
        /* margin-left: 2%; */
    }

    section.Projetos .flex .projetos img{
        width: 70%;
    }

    section.Projetos .flex .projetos:hover{
        img{
            background: transparent;;
        }
    }

    .Projetos .Github{
        width: 4rem;
        margin-left: 7rem;
        padding-top: 2rem;
    }

    /*Estilo Objetivo*/

    section.objetivo{
        display: block;
        flex-direction: column;
    }

    section.objetivo img{
        left: 30vw;
        top: 0vw;
        height: 40vw;
        /* display: none; */
        /* margin-top: 34%; */
        width: auto;
        /* margin-left: 11%; */
        /* padding: 11vw 0vw 0vw 16vw; */
        border-radios: 20vw;
    }

    img {
        width: 80vw;
    }

    section.objetivo h2{
        padding: 6vw 8vw;
    }



     section.objetivo p{
        padding: 0vw 4vw 11vw 4vw;
        font-size: 1rem;
    }


    /*ESTILO TCC*/

     section.TCC{
        padding: 0vw 0vw 0vw 0vw;
    }

    section.TCC h2{
        font-size: 2.4rem;
    }

    .TCC .flex{
        display: block;
    }

    .TCC .flex p{
        font-size: 4vw;
    }

    .TCC .flex h3{
        font-size: 1.4rem;
    }

    .TCC .resultado a{
        font-size: 1rem;
    }
    }

    @media screen and (max-width:695px) {

        section.objetivo img{
            position: relative;
            width: auto;
            height: 45vw;
            }    
    }  

    @media screen and (max-width:450px) {

        .img_topo_site{
           display: grid;
            justify-items: center;
        }

        .txt_topo_site .nome{
            font-size: 37px;
        }
        .txt_topo_site .barra{
            font-size: 3rem;
        }

        .txt_topo_site p, h2 {
            font-size: 1rem;
            padding: 0vw 0vw 0vw 6vw;
        }

        .topo-do-site .backend {
            font-size: 1rem;
        }
       
        section.experiencia p {
            font-size: 1rem;
        }

        .experiencia img {
            padding: 40px 23px;
        }

        .section.experiencia h1{
            padding:0vw 0vw 0vw 0vw;
        }

        section.Projetos .flex .projetos {
            /* padding-right: 10px; */
            width: 90px;
            height: 55%;
        }
       
        section.TCC h2 {
            font-size: 45px;
        }
       
        section.TCC  {
            /* margin-top: 50%; */
        }

        section.objetivo img {
            /* margin-top: 100%; */
            width: 79%;
            /* margin-left: 3%; */
            padding: 12vw 0% 0% 0%;
        }

        footer{
            width: auto;
            height: 30vw;
        }

        footer > h1{
            font-size: 1rem;
            word-wrap: break-word;
            padding: 0vw 10vw;
        }
   
           
    }  

    @media screen and (max-width:375px) {
        .txt_topo_site .nome {
            font-size: 36px;
        }
        
        .experiencia img {
            padding: 40px 21px;
        }

        section.objetivo h2 {
            font-size: 48px;
            padding: 5% 6%;
            padding-top: 16%;
        }

        section.TCC h2 {
            font-size: 30px;
            padding-top: 30%;
        }

        @media screen and (max-width:365px) {
            .txt_topo_site .nome {
                font-size: 34px;
            }

            .experiencia img {
                padding: 40px 17px;
            }

            section.objetivo h2 {
                font-size: 45px;
            }

      
        }

        @media screen and (max-width:360px) {
         
            section.objetivo img {
                /* margin-top: 100%; */
            }
        }
    }

    /*Estilo Para Dispositivos IOS*/

    @media only screen and (max-device-width: 480px) and (orientation: portrait) {
        .txt_topo_site .nome {
            padding: 0vw 0vw 0vw 0vw;
            font-size: 1.7rem;
        }

        section.objetivo img {
            width: auto;
            height: 59vw;
            display: flow;
            left: 62px;
            padding: 0px 0px 0px 0px;
            top: 0rem;
        }

        .experiencia img {
            width: 2rem;
            padding: 40px 21px;
            grid-template: 1;
        }

        section.objetivo h2 {
            font-size: 1.5rem;
            padding: 25vw 0vw 4vw 4vw;
            /* padding-bottom: 128vw; */
        }

        section.TCC h2 {
            font-size: 1.5rem;
            /* padding-top: 30%; */
            padding: 85vw 5vw 4vw 5vw;
        }

      

    }

