/*ESTILO GERAL*/

*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    scroll-behavior: smooth;
}

body{
    background-color: #04080f; 
    height: 100%;
}

.interface{
    max-width: 1280px;
    margin: 0 auto ;
}

.flex{
    display: flex;
}

/*Estilo cabecalho*/

header{
    z-index: 1;
    width: 100%;
    padding: 40px 4%;
    backdrop-filter: blur(15px);
    position: fixed;
    height: 2%;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
}

.interface .logo img{
    width: 65%;
}

header a{
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    margin-right: 18px;
    display: inline-block;
    padding:  0 40px;
}

header:hover{
   box-shadow: 0px -10px 10px 10px #000000;    
}

header .btn_home a{
    padding: 4px 10px;
    color:#020131;
    background-color:#477c89;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 300;
}

header .btn_home a:hover{
    cursor: pointer;
    color: white;
    transform: translate(0, -3px);
    transition: 0.3s;
}

header a:hover{
    color: #477c89;
    transition-duration: 0.2s;
}


/*FIM HEADER*/

/*Topo do site*/

section.topo-do-site{
    padding: 10% 5%;
    font-family: 'Poppins', sans-serif;
}

section.topo_do_site .flex{
    align-items: center;
    justify-content: center;
}

.txt_topo_site p,h2{
    font-size: 25px;
    color: #ffffff;
}

.topo-do-site span{
    font-size: 25px;
    color: #477c89;
    font-family: 'Source Code Pro', monospace;
}

.txt_topo_site .nome{
    font-size: 50px;
}

.teste{
    display: block;
}

.txt_topo_site, .btns_contato{
    margin-top: 9rem;
}

.img_topo_site img{
    margin-left:7rem;
    margin-top: -5rem;
    width: 20rem;
    border-radius: 5%;
}

.img_topo_site img:hover{
    transform: scale(0.9);
    transition: 0.2s;
}

.btns_contato a{
    text-decoration: none;
}

.btns_contato a img{
    padding-left: 15px;
    width: 40px;
    background: #04080f;
}

.btns_contato a img:hover{
    transform: scale(0.9);
    transition: 0.2s;
}


/*Experiência ESTILO*/

section.experiencia{
    padding: 10rem 6%;
    color: #ffffff;
    font-family:'Poppins', sans-serif;
}

section.experiencia p{
    padding: 6%;
    font-size: 1.2rem;
}

section.experiencia h1{
    font-size: 3rem;
}

section.experiencia span{
    color:#477c89  ;
}

.experiencia .flex{
    padding: 0 65px ;
}

.experiencia .flex img{
   padding: 0 10px;
    width: 3rem;
}

.experiencia .flex img:hover{
    transform: scale(1.5);
    transition: 0.2s;
}

/*Projetos ESTILO*/

section.Projetos{
    font-family:'Poppins', sans-serif ; 
    font-size: 30px;
    padding:  8%;
    color: #ffffff;
}

section.Projetos .flex{
    padding: 3rem ;
}

.Projetos .projeto{
    text-align: center;
    margin-left: 5%;
    width: 5%;
    justify-content: center;
    display: inline-flex;
    border: 1px solid #00000036;
    background-color: rgb(0 0 0 / 32%);
}

.Projetos .projeto img {
    width: 75%;
}

.Projetos .projeto a{
    font-size: 1rem;
    text-decoration: none;
    color:#477c89 ;
}

.Projetos .Github{
    width: 6%;
    padding-left:6%;
}

.Projetos .Github:hover{
    transform: scale(0.9);
    transition: 0.2s;
}




/*TCC estilo*/

.TCC{
    display: flex;
    padding: 90px 6%;
    color: #ffffff;
    font-family:'Poppins', sans-serif;
}

section.TCC .flow1{
    margin-top:2rem;
}

section.TCC h2{
    font-size: 2rem;
}

section.TCC .organizaçao,.minhaparte,.projeto,.resultado{
   padding: 40px ;
   border-radius:20px;
}

section.TCC .organizaçao:hover,.minhaparte:hover,.projeto:hover,.resultado:hover{
    transform: scale(1.05);
    box-shadow: 0 0  8px#477c89;
    transition: 0.2s;
}

section.TCC .resultado a{
    text-decoration: none;
    color:#477c89 ;
}


/*Responsividade 737px*/

@media screen and (max-width:1020px) {
    
    /*Header*/
    header{
        width: 92%;
        margin-top: -1px;
    }

    .menu a{
        display: none;
    }

    /*Topo do site*/
    .img_topo_site img{
        display:none;
    }

    .btns_contato{
        margin-top: 2rem;
    }

    .topo-do-site span{
        font-size: 23px;
    }

    .txt_topo_site .nome{
        font-size: 37px;
    }

    .txt_topo_site p,h2{
        font-size: 19px;
    }

    section.topo-do-site{
        padding: 20% 5%;
    }

    .btns_contato a img{
        padding-top:60px;
        padding-left: 25px;
        width: 50px;
    }

    /*ESTILO Experiência*/

    section.experiencia p{
        padding: 6%;
        font-size: 18px;
    }

    .experiencia .flex{
        display:flow-root;
        padding: 70px 7rem; 
    }

    .experiencia .flex img{
        width:6rem ;
        padding-top:2rem
    }

    /*ESTILO Projetos*/

    .Projetos h1{
        font-size: 2.2rem;
    }

    .Projetos h2,p{
        font-size: 2rem;
    }

    .Projetos .flex{
        display: block;
    }

    .Projetos .projeto{
        margin-left: 5%;
        width: 65%;
        padding-bottom: 4rem;
        margin-bottom: 5rem;;
    }

    .Projetos .projeto img {
        width: 35%;
    }

    .Projetos .Github{
        width: 4rem;
        margin-left: 7rem;
        padding-top: 2rem;
    }

    /*ESTILO TCC*/

    section.TCC h2{
        font-size: 1.4rem;
    }

    .TCC .flex{
        display: block;
    }

    .TCC .flex p{
        font-size: 1rem;
    }

    .TCC .resultado a{
        font-size: 1.2rem;
    }

    
}